@page "/HorarioClases"

<PageTitle>Horario</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <table class="table table-striped table-bordered justify-content">
            <thead>
                <tr class="text-center bg-header">
                    <th>Clave</th>
                    <th>Asignatura</th>
                    <th>Cr&eacute;dito</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Costo</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var clase in ListaClases)
                {
                    <tr class="text-center">
                        <td>@clase.Clave</td>
                        <td>@clase.Asignatura</td>
                        <td>@clase.Credito</td>
                        <td>@clase.FechaInicio</td>
                        <td>@clase.FechaFin</td>
                        <td>@clase.Costo.ToString("N2")</td>
                    </tr>
                }
           
                <tr class="text-center">
                    <td>001</td>
                    <td>Estructuras de Datos</td>
                    <td>4</td>
                    <td>2024-06-01</td>
                    <td>2024-12-15</td>
                    <td>1500.00</td>
                </tr>
                <tr class="text-center">
                    <td>002</td>
                    <td>Programación Aplicada 2</td>
                    <td>3</td>
                    <td>2024-06-02</td>
                    <td>2024-12-16</td>
                    <td>1200.00</td>
               
                </tr>
              </tbody>
        </table>
    </div>
</div>

@code {

    public List<Clase> ListaClases { get; set; } = new List<Clase>
    {
        new Clase { Clave = "001", Asignatura = "Estructuras de Datos", Credito = 4, FechaInicio = "2024-06-01", FechaFin = "2024-12-15", Costo = 1500.00M },
        new Clase { Clave = "002", Asignatura = "Programación Aplicada 2", Credito = 3, FechaInicio = "2024-06-02", FechaFin = "2024-12-16", Costo = 1200.00M },
        new Clase { Clave = "003", Asignatura = "Proyecto Aplicado", Credito = 3, FechaInicio = "2024-06-02", FechaFin = "2024-12-16", Costo = 1200.00M }
 
    };

    public class Clase
    {
        public string? Clave { get; set; }
        public string? Asignatura { get; set; }
        public string? Fecha { get; set; }
        public int Credito { get; set; }
        public string? FechaInicio { get; set; }
        public string? FechaFin { get; set; }
        public decimal Costo { get; set; }
    }
}
